* {
  background-color: rgb(38,38,38);
  color:   #e4e4e4;
}

h1 {
  text-align: center;
  background-color: #2f4f4f;
  width: 200px;
  margin: 0 auto 40px auto;
  border: 2px solid #e4e4e4;

}

body {
  text-align: center;
}
article {
  width: 280px;
  display: inline-block;
  height: 300px;
  text-align: center;
  padding: 10px;
  vertical-align:top;
  background-color: #2f4f4f;
  border: 2px solid #e4e4e4;
  box-shadow: 0 0 4px 4px #777;
  margin: auto 30px 30px 30px;
}

h2 {
  background-color: #2f4f4f;
}

p{
  background-color: #2f4f4f;
}

li {
  text-align: center;
  display: inline-block;
  padding: 10px;
  background-color: #2f4f4f;
  border: 2px solid #e4e4e4;
}

h3 {
  text-align: center;
}
a {
  background-color: #2f4f4f;
}

.worklist {
  width: 500px;
}
.travellist {
  width: 500px;
  height: 380px;
  text-align: center;
  width:300px;
  display:block;
  margin: auto;
}
ol {
  background-color: #2f4f4f;
  padding:0;

}
.travellist>h2{
  width:250px;
  text-align: center;
  margin: auto;


}
ol>li {
  display: block;
  text-align: center;
  border: 0;
  font-size: large;
  font-weight: bold;
  padding: 5px;
}

article>ul{
  background-color: #2f4f4f;
  padding: 0;
  text-align: left;

}
article>ul>li{
  min-width: 480px;
  text-align: left;
  border: 0px;
  
}
